.App {
  text-align: center;
}

.App-header {
  background-color: #364fc7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  user-select: none;
}

.editor {
  display: flex;
  flex-direction: row;

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    height: 100%;
    color: white;
    background-color: #748ffc;
    border: 0;
    box-shadow: 2px 5px 32px -15px rgba(21, 19, 19, 0.2);
    resize: none;
    font-size: 'Nanum Gothic Coding', sans-serif;
    font-weight: 300;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
  }

  &__btn {
    border: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: all 0.2ms;
    user-select: none;
    font-weight: 400;
    font-size: 'Nanum Gothic Coding', sans-serif;
    box-shadow: 2px 5px 32px -15px rgba(21, 19, 19, 0.2);
    background-color: #f1f3f5;
  }

  &__btn:hover {
    transform: scale(1.05);
  }

  &__btn:focus {
    background-color: #e9ecef;
  }
}
